<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title><%=title%></title>
</head>
<body>
    <div class="">
        <%- include ('./layouts/navbar') %>
    </div>

  <div class="about-container">
   

    <div class="about-text">
        <h2 >
            Find game ready models to buy here. <br>
            This project was built using nodeJS, expressJS, mongoDB &EJS.
        </h2>
        <h5>
           <!-- <br> -->
            <a href="https://github.com/abhishek-sonawane" target="_blank"> <i class="fa-brands fa-github"></i> </a> 
        </h5>
            <br>


            <h3>reach out to me on mail here👇</h3>
            <h3 class="email-text" >abhisheksonwane57@gmail.com</h3>
    </div>
  </div>
</body>
</html>