<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body id="indexpage">
    
  <%- include ('./layouts/navbar') %>
  <section class="main-container">
 



        <!-- landing page content -->
        <div class="first-cont">
            <img src="/images/04.svg" width="300px"  alt="">
           <div class="hero-content">
            <h1 class="index-p">Get the best 3d models for <br> your project</h1>
            <button id="shopbtn"><a style="color:black" href="/catalogue"><i class="fa-solid fa-cubes"></i> shop</a></button>
           </div>
        </div>

        <div class="middle-cont">
            <img id=" corner" class="abstract" src="/images/corner.svg" width="200px" alt="">
            <img id=" grid" class="abstract" src="/images/grid.svg" width="200px" alt="">
            
        </div>



       

  </section>

  <footer class="footer-cont">
    <!-- about links  -->
    <!-- <div></div> -->
<div class="footer-main">
    <div id="social-links">
        <a href="https://www.github.com/abhishek-sonawane" target="_blank"> <i class="fa-brands fa-github"></i> </a> 
        <a href="https://www.linkedin.com/in/abhisheksonwane/" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
        <a href="https://twitter.com/realbrownsaiyan" target="_blank"> <i class="fa-brands fa-twitter"></i> </a> 
    </div>
    <p class="copyright"> © Copyright <%= new Date().getFullYear()%> Abhishek Sonawane.</p>
</div>
<div class="footer-powered">
   <div id="stripe"> <p>powered by</p> <a target="_blank" href="https://stripe.com"><img width="50" id="stripe" src="/images/Stripe_Logo,_revised_2016.svg" alt=""></a></div>
</div>

</footer>

</body>
</html>