<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body id="indexpage">
    
  <section class="main-container">
    <nav>

        <div class="hamburger-container">
            <input type="checkbox" name="" id="hamburger-menu" />
            <div class="hamburger-item"><div></div></div>
            <div class="hamburger-lists">
              <ul>
                <li>Collections</li>
                <li>Men</li>
                <li>Women</li>
                <li>About</li>
                <li>Contacts</li>
              </ul>
            </div>
          </div>

        <div class="navbar">
        <h2><a href="/"><img id="index-headlogo" src="/images/logo.png" alt=""></a></h2>
        <ul><div class="navbtns">
            <li><a href="/catalogue">explore</a></li>
            <%if (locals.session.isAdmin==true) { %>
              <li><a href="/catalogue/upload">upload</a></li>
              <% } %>
            <li><a href="#">about</a></li>
            <%if (!locals.session.isAuth) { %>
            <li><a href="/auth/login">login</a></li>
            <% }else{ %>
            <li>
            <form action="/auth/logout" method="post">
            <button class="logoutbtndetails">logout</button>
            </form></li>
              <%}%>
             </div>  
        </ul>
    </div>
    </nav>

        <!-- landing page content -->
        <div class="first-cont">
            <img src="/images/04.svg" width="300px"  alt="">
           <div class="hero-content">
            <h1 class="index-p">Get the best 3d models for <br> your project</h1>
            <button id="shopbtn" onclick="window.location.href='http://localhost:5000/catalogue'"><i class="fa-solid fa-cubes"></i> shop</button>
           </div>
        </div>

        <div class="middle-cont">
            <img id=" corner" class="abstract" src="/images/corner.svg" width="200px" alt="">
            <img id=" grid" class="abstract" src="/images/grid.svg" width="200px" alt="">
            
        </div>



        <footer class="footer-cont">
            <!-- about links  -->
            <!-- <div></div> -->
        <div class="footer-main">
            <div id="social-links">
                <a href="https://www.github.com/abhishek-sonawane"> <i class="fa-brands fa-github"></i> </a> 
                <a href=""> <i class="fa-brands fa-linkedin"></i> </a> 
                <a href="https://twitter.com/realbrownsaiyan"> <i class="fa-brands fa-twitter"></i> </a> 
            </div>
            <p class="copyright"> © Copyright 2022 Abhishek Sonawane.</p>
        </div>
        <div class="footer-powered">
           <div id="stripe"> <p>powered by</p> <a target="_blank" href="https://stripe.com"><img width="60" id="stripe" src="/images/Stripe_Logo,_revised_2016.svg" alt=""></a></div>
        </div>
    
    </footer>

  </section>

</body>
</html>