@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.loader-body{
    opacity: 0.5;
    background-color: rgb(241, 0, 0);
    height: 100vh;
}
body{
    height: 110vh;   
  background-color: rgb(24, 24, 24);
  font-family: 'poppins';


}

.main-container{
    padding: 1em;
}


.model{
    width: 190px;
    height:200px;
    background: url("/images/Untitled design (2).png");
}

.flex-container{
    display: flex;
    gap:1em;
    flex-wrap: wrap;
}



#login,#register{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0em 4em;
    /* font-family:"open sans" */
}

#login .redirect-auths, #register .redirect-auths{
    color: aqua;
}

 .container{
    max-width: 24em;
    width: 100%;
    padding: 3em;
}

.container>h1{
    margin-bottom: 25px;
}


.login-form,.register-form{
    display: flex;
    flex-direction: column;
   
    /* background-color: rgb(24, 24, 24); */
    gap: 1em;
    border-radius: 7px;
    color: #fbfbfb;
}
.username,.password ,.email{
    display: flex;
    flex-direction: column;
}

.username>input,.password>input,.email>input{
    padding: 0.7em;
    background-color:rgb(24, 24, 24); 
    border: 0;
    font-size: 16px;
    color: #fbfbfb;
    font-family: 'poppins';
}



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  -webkit-text-fill-color: white !important;
}

.login-btn,.register-btn{
    width: 100%;
    border-radius: 5px;
    font-size: 21px;
    margin-top: 1em;
}
.alert{
    width: max-content;
    padding: 0.5em;
    background-color: rgb(136, 36, 36);
    /* max-width: 20em; */
    
}

button{
    height: 2em;
    font-size: 1em;
    width: 9em;
    border-radius: 9px;
    border: 0;
    background-color: aliceblue;
    cursor: pointer;
    /* margin: 2em 0 0 10em; */
    transition:background 0.15s ease-out }

button:active{
    
    background-color: rgb(255, 68, 11);
    /* font-size: 0.5em; */
}
a{
    /* display:block; */
}

#lablem{
    margin-right: 2em;
}

/*  catalogue pagestyling */
.model-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    /* font-family: "open sans"; */
    font-weight: 300;
    
    

}

.model-card{}

.modelcls{
    max-width: 380px;
    width: 100%;
    height: auto;
    /* margin:1em ; */
    border-radius: 8px;
}
    

.cont{
    /* margin: 0.75em; */
    position: relative;;
    /* background-color: red; */
}

.model-link{
    display: inline-block;
    
    
}

.details-hover{
    -webkit-box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 2em;
    position: relative;
    bottom: 1em;
    border-radius: 0 0 8px 8px;
    background-color:#C1BDDB;
    transition:opacity 0.27s ease-in;
    padding: 1em 0;
    
}
.cont:hover .details-hover{
   opacity:1;

}

.details-hover>*{
    text-decoration: none;
    color: #000000;
}

.details-hover>span>h3{
   font-size: clamp(0.8rem,1.2rem,1.2rem);
}

.search-form{
    max-width: 22em;
    width: 100%;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5em;
    position: relative;
    
   
}

/* .logoutbtnct{
    position: absolute;
    right:2em;
    top:4em
} */


#srchbox{

    margin-top: 2.5em;
    padding: 1em;
    width: 100%;
    padding-left: 1em;
    border-radius: 25px;
    border: none;
    background-color: rgb(232, 232, 232);
    -webkit-box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 15px 0px rgba(0,0,0,0.75);
    
}
#srchbox:hover{
    background-color: rgb(255, 255, 255);
}
#srchbox:focus{
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
  
}
.srch-submit{
    background: none;
    width: max-content;
    position: absolute;
    right: 2px;
    bottom: 4px;
   /* transform: translateX(-20%); */
    /* top: 5.9em; */

}
.search-btn-circle-cont{
    padding: 11px;
    border-radius: 100%;
    background-color: #A2C7E5;
}

.srch-submit:active{
    background: none;
}

.catalogue-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}



/*  details page styling   */
#details{
    color: #fbfbfb;
}

#headlogo,#index-headlogo{
    height: 2.7em;
    position: relative;
    left: 8px;
    
}
#detailsimg{
    max-width: 700px;
}

.details-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'open sans';
    margin-top: 5em;
}

.prod-details{
    display: flex;
    flex-direction: column;
    /* position: relative;
    left:7em; */
    margin:0 10em;
}

.prod-desc{
    margin: 3em;
}

#cart-btn{
    position: absolute;
    right: 20em;
    top: 30em;
    width: 12em;
    
}

.details-container a{
    color: black;
}



/* index page styling */


/* hamburber */

.hamburger-container {
    display: none;
  }
  
.hamburger-lists {
    position: fixed;
    top: 10px;
    right: 65px;
    padding: 10px;
    background-color: #000000;
    -webkit-box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 12px 18px -4px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  .hamburger-lists > ul > li {
    list-style: none;
    padding: 10px;
    z-index: 4;
    font-family: "Kumbh sans", sans-serif;
    color: #fbfbfb;
    cursor: pointer;
  }
  
  #hamburger-menu {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 4;
    /* overflow: hidden; */
    cursor: pointer;
  }
  
  .hamburger-item {
    position: fixed;
    top: 8px;
    right: 9px;
    z-index: 1;
    width: 36px;
    height: 60px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hamburger-item > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  .hamburger-item > div::before,
  .hamburger-item > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 5px;
    background-color: inherit;
    z-index: 1;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  .hamburger-item > div::after {
    top: 10px;
  }
  
  .hamburger-container #hamburger-menu:checked + .hamburger-item > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  
  .hamburger-container #hamburger-menu:checked + .hamburger-item > div:before,
  .hamburger-container #hamburger-menu:checked + .hamburger-item > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  .hamburger-container #hamburger-menu:checked ~ .hamburger-lists {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  

.navbar{
    /* position: relative;
    top: 1.5em; */
    display: flex;
    justify-content:space-between;
    padding: 2em;

}

.navbtns{
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
    /* margin: 0.8em 2.5em 0 0 ; */
}

li a{
    text-decoration: none;
    font-size: 21px;
    font-family:sans-serif ;
    color: white;
    display: inline-block;
  position: relative;
    
}
li{
    list-style:none;
}

li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fbfbfb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
}
li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.logoutbtndetails{
    border-radius: 14px; 
    width: 6em;
    background: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);

}
.logoutbtndetails:hover{
    background-color: rgb(255, 255, 255);
    border: transparent;
    color: rgb(0, 0, 0);
}

/* cart page */

#cart{
    background-color: rgb(26, 26, 26);
    color: #fbfbfb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#cart-img{
    max-width: 500px;
    border-radius: 5px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.order-btn{
    position: relative;
    right: 11em;
    width: 14em;
    height: 3em;
    /* z-index: -1; */
}

.fa-credit-card{
    position: relative;
    top: 4.1em;
    left: 10em;
    z-index: 1;
    color: black;
}

.fa-cart-shopping{
    position: relative;
    color: rgb(33, 33, 33);
    /* bottom: 7em;
    right:24em;
    z-index: 1; */
    display: inline;
    margin-left: 1em;
    
}

/* main index page  */

#indexpage{
    position: relative;
    height: 130vh;
}
.first-cont{
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    gap: 2em;
}
.index-p{
    color: #fbfbfb;
    font-size: 30px;

}

.first-cont>img{
    z-index: -1;
}

.middle-cont{
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#corner{
    position: relative;
    right: 1em;
}



#grid{

    position: relative;
    right: 2em;
    bottom: 2em;
}

#shopbtn{
    /* position: relative;
    bottom: 7em;
    right: 4em; */
    border-radius: 15px;
    font-size: 1.5em;
   max-width: 7em;
}

/* footer index page */

.footer-cont{
    background-color: rgb(11, 11, 11);
    /* height: 12%;  */
    width: 100%;
   color: #fbfbfb;
   position: absolute;
   right: 0;
    bottom: 0;
    left: 0;
    font-family: 'helvetica';
    font-weight: 200;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}

.footer-main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

#social-links{
    /* margin-top: 1em; */
    display: flex;
    gap:2em;
    justify-content: center;
    align-items: flex-end;
    
}
.fa-brands{
    font-size: 1.4em;
    color: #fbfbfb;
}

.footer-powered{
    /* display: flex;
    position: absolute;
    bottom: 9px;
    align-content: center;
    
    margin-left: 75%;
    margin-top: 1em; */
    padding: 2em;
    align-self:flex-end;
}

.footer-powered img{
    
    position: relative;
    bottom: 5.7px;
    left: 5px;
}

#stripe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/* .copyright{
    position: absolute;
   top: 4em;
   left: 39%;
   font-size: 15px;
}

.copyright img{
    max-width: 2em;
} */

@media (max-width:50em) {
    .abstract{
        display: none;
    }

    .navbar{
        display: none;
    }

    .hamburger-container{
        display: block;
    }

    .search-form{
        margin-top: 3rem;
        z-index: -1;
    }
}