<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="login">
    <div class="navv">
        <%- include ('../layouts/navbar') %>
    </div>
   <div class="padding">
    <div class="container">
        <h1>login</h1>
        <form class="login-form" action="/auth/login" method="post">
            <% if(locals.err_msg) { %>
                <div class="alert alert-danger" role="alert"> <i class="fa-solid fa-circle-exclamation"></i> <%= err_msg %></div>
                <% } %>
            
            <div class="username">
                <label for="username">username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="password">
                 <label for="password">password</label>
                 <input type="password" id="password" name="password" required>
            </div>
            <button class="login-btn" type="submit">login</button>
            <span>need an account? <a class="redirect-auths" href="/auth/register">register</a></span>
        </form>
    </div>
    
   </div>
</body>
</html>