<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="register">
    <div class="navv">
        <%- include ('../layouts/navbar') %>
    </div>
    <div class="container">
        <h1>Signup</h1>
    
        <form class="register-form" action="/auth/register" method="post">
            <% if(locals.err_msg) { %>
                <div class="alert alert-danger" role="alert"><%= err_msg %></div>
                <% } %>
            <div class="username">
                <label for="username">username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="email">
                <label id="lablem" for="email">email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="password">
                 <label for="password">password:</label>
                 <input type="password" id="password" name="password" required>
            </div>
            <button class="register-btn" type="submit">register</button>
            <span>already have an account? <a class="redirect-auths" href="/auth/login">login</a></span>
        </form>
    </div>
    
</body>
</html>