<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="register">

    <div class="container">
        <h1>register form</h1>
    
        <form action="/auth/register" method="post">
            <% if(locals.message) { %>
                <div class="alert alert-danger" role="alert"><%= message %></div>
                <% } %>
            <div class="username">
                <label for="username">username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="email">
                <label id="lablem" for="email">email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="password">
                 <label for="password">password:</label>
                 <input type="password" id="password" name="password" required>
            </div>
            <a href="/auth/login">login</a>
        
            <button type="submit">register</button>
        </form>
    </div>
    
</body>
</html>